﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <p>
        Enter Player's Names
    </p>

    <div class="form-group row">
        <label for="inputPlayer1" class="col-sm-2 col-form-label">Player 1</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPlayer1" data-bind="value: player1Name" >
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPlayer2" class="col-sm-2 col-form-label">Player 2</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPlayer2" data-bind="value: player2Name" >
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="button" class="btn btn-primary" data-bind="enable: sessionID().length > 0, click: function(){ startPlay(); }">Start</button>
        </div>
    </div>

</div>

@section scripts{
    
    @Scripts.Render("~/Scripts/Controllers/play-home-controller.js")
    @Scripts.Render("~/Scripts/Controllers/play-home-data-services.js")

    <script type="text/javascript">
        var dataServices = new PlayHomeDataServices();
        var viewController = new PlayHomeViewController(dataServices);
        ko.applyBindings(viewController);
    </script>
    

}