﻿
@{
    ViewBag.Title = "Moves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <p>
        Round <span data-bind="text: roundNumber"></span>
    </p>

    <p>
        <strong>
            <span data-bind="text: currentPlayerName"></span>
        </strong>
    </p>

    <div class="form-group row">
        <label for="inputPlayer1" class="col-sm-2 col-form-label">Select Move</label>
        <div class="col-sm-10">
            <select>
                <option>Paper</option>
                <option>Rock</option>
                <option>Scissors</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="button" class="btn btn-primary" data-bind="click: function(){ playMove(); }">OK</button>
        </div>
    </div>

</div>

@section scripts{

    @Scripts.Render("~/Scripts/Controllers/play-moves-controller.js")
    @Scripts.Render("~/Scripts/Controllers/play-moves-data-services.js")

    <script type="text/javascript">
        var dataServices = new PlayMovesDataServices();
        var viewController = new PlayMovesViewController(dataServices);
        ko.applyBindings(viewController);
    </script>

}